body {
  width: 100%;
  height: 100%;
  margin: 0;
}
header {
  text-align: center;

}
figure {
align-content: center;
}
nav{
  padding-left: 10px;
  padding-right: 10px;
  background-color: blanchedalmond;
  align-content: center;
}
figure figcaption {
  font-size: 12px;
  margin-left: 35%;
}
#featured-property p {
  width: 800px;
  text-align: center;
  margin: auto;
}
#featured-property img {
margin-left: 17.5%;
}
#details div{
  float: left;
  text-align: center;
  width: 25%;
  background-color: red;
}